footer 
{
  background-color: gray;
  bottom: 0;

  width: 100%;
  height: 0px;
  text-align: center;
  color: black;
  text-anchor: middle;
}

.jumbotron {
    background-color:white !important; 
    
}

.breadcrumb {
    background-color:whitesmoke !important; 

}

body, html {
    height: 100%;
}
.bg { 
 
    background-color:gainsboro;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}            

.table{
    align-content: center;


}

.container1{
    display: flex;
}

